<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" <%= link_to('Home', destroy_admin_user_session_path, method: :delete)%><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"<%= link_to('Product', admin_products_path, method: :show)%></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Category</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">User</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
</br>
<div class="jumbotron jumbotron-fluid" style="text-align: center;">
  <div class="container">
    <h1 class="display-4">hinh anh</h1>
  </div>
</div>
<div class="container">
  
  <div class="row">
    <% @products.each do |product| %>
    <div class="col-md-3 col-sm-6 col-12">
      <%= product.image %>
     <h2> Product Name: <%= product.name%></h2>
      <h3>Price: <%= product.price%><h3>
      <p>Category: <%= product.category.name%></p>
      <%= link_to('Chi tiet', destroy_admin_user_session_path, method: :delete) %> 
    </div>
    <% end %>  
  </div>
</div>
<br/><br> 